<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Restaurant</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.value %></td>
        <td><%= product.restaurant.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
